{% extends 'base.html.twig' %}

{% block title %}New Certificate{% endblock %}

{% block body %}
<section class="page-banner overlay pt-170 pb-220 bg_cover" style="background-image: url('{{ asset('gowilds/images/bg/page-bg.jpg') }}');
;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">Forum</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Forum</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Ici s'affichera la liste des destinations -->
                <div class="destination-list">
                                <div class="row justify-content-center">
    <div class="row">
    <h2>Create new Certificate</h2>

    {{ include('certificate/_form.html.twig') }}
            </div>
            </div>
        </div>
    </div>
            </div>
            </div>
        

    
{% endblock %}
