{# templates/participation/thank_you.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h2>Thank You for Participating!</h2>
<p>We've received your submission. You'll receive a confirmation SMS shortly.</p>
{% endblock %}
